.sidebar{
    width:220px;
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    background-color:#0b2154;
    z-index: 100;
}
.sidebar-brand{
    height:90px;
    padding: 1rem 0rem 1rem 1rem;
    color: #d81324;
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
    padding-left: 2rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.2rem;
}
.sidebar-menu a{
    display:block;
    color: #d81324;
    font-size:1rem;
    padding-left: 1rem;
    text-decoration: none;
}
.sidebar-menu a span{
    font-size: 1rem;
    padding-right: 1rem;

}
/* .sidebar-menu a.active{
    background:#fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #d81324;
    border-radius: 25px 0px 0px 25px;
    font-weight: bold;
} */
.fa-home::after{
    content: "\2192";
    padding-left: 10px;
}
/* media queries */
@media (min-width: 576px) {
    
 }



